body {
	background-color: yellow;
	font-style: verdana;
}

h1 {
    color: red;
}

h2 {
	text-align: left;
	font-style: verdana;
	text-decoration: underline;
	color: green;
}

p{
	color:#666;
	text-align:center;
}